<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="insynth_completions"
         name="InSynth completion proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/scala.png"></proposalCategory>
   </extension>
   <extension
         id="InsynthCompletions"
         name="InSynth Completions"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="ch.epfl.insynth.core.insynth_completions"
            class="ch.epfl.insynth.core.completion.InsynthCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
     <initializer
           class="ch.epfl.insynth.core.preferences.InSynthPreferencePageInitializer">
     </initializer>
  </extension>
  
   
   <extension point="org.eclipse.ui.preferencePages">
      <page class="ch.epfl.insynth.core.preferences.InSynthPreferences"
            category="org.scala-ide.sdt.core.preferences"
            name="InSynth"
            id="ch.epfl.insynth.preferences.InSynth"/>
   </extension>

</plugin>
